body {
  font-family: Arial;
  background: linear-gradient(to bottom, #0f172a, #000);
  color: white;
  text-align: center;
  padding: 20px;
}

input, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #3b82f6;
  color: white;
  font-weight: bold;
}

.hidden {
  display: none;
}

.card {
  background: #1f2937;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
